[Desktop Entry]
Encoding=UTF-8
Name=AMELIA
GenericName=AMELIA
Comment=Analyze events from the ATLAS experiment
TryExec=amelia
Exec=amelia
StartupNotify=true
Terminal=false
Type=Application
Icon=amelia
Categories=Game;Science;
